#Proyecto 2 de introduccion a la programacion

def Cred_Ent(lar,anc):
    lote=[]
    memo=[]
    visitado=[]
    for i in range(lar):
        lote.append(input())
        fila=[]
        fila2=[]
        for j in range(anc):
            fila.append(0)
            fila2.append(False)
        memo.append(fila)
        visitado.append(fila2)
    #print(len(memo))
    #print(len(lote))
    for i in range(len(memo)):
        for i2 in range(len(memo[i])):
            memo[i][i2]=lote[i][i2]
    #rint(memo)
    return memo
    
def fig_total(l,a,p):
    piezas=[]
    for i in range(p-1):
        #print(Cred_Ent(4,4))
        piezas+=Cred_Ent(4,4)
    print(piezas)
   
   
kk 
